table, th, td, tr {
    vertical-align:middle; 
    padding: 2px;
    border: none;
  }

figure {
    border: none;
    display: flex;
    flex-flow: column;
    margin: auto;
}

figcaption {
    background-color: white;
    padding: 3px;
    text-align: center;
}

.nft-container {
    margin: 10px 0 10px 0;
}